@model CourseProject1.Models.User;
@inject UserManager<User> userManager;
@using CourseProject1.Models.Enums;
@{
    ViewData["Title"] = "User Profile";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<div class="container mt-5">
    <h1 class="mb-4">@Model.UserName Profile</h1>
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.FirstName</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.LastName</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.Email</p>
                </div>
            </div>
            @if (Model.Id == userManager.GetUserId(User))
            {
                <a asp-controller="Account" asp-action="Edit">Click here to edit your profile</a>
            }
        </div>
    </div>

    @if (Model.Id == userManager.GetUserId(User) || User.IsInRole(Roles.Admin.ToString()))
    {
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h2>Collections</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <a asp-controller="Collection" asp-action="AddCollection" asp-route-Id="@Model.Id" type="button" class="btn btn-success">
                        <i class="fas fa-plus"></i> Add Collection
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var collection in Model.Collections)
                            {
                                <tr>
                                    <td><a asp-controller="Collection" asp-action="Index" asp-route-userId="@Model.Id" asp-route-collectionId ="@collection.Id">@collection.Name</a></td>
                                    <td style="max-width: 300px; overflow-wrap: break-word;">@collection.Description</td>
                                    <td>@collection.Category</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>