@using CourseProject1.Models
@using CourseProject1.Models.Enums
@inject UserManager<User> userManager;
@model CourseProject1.Models.Collection;
@{
    ViewData["Title"] = $"{Model.Name} Collection";
}
<div class="container mt-5">
    <h1 class="mb-4">@Model.Name Collection</h1>
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Collection Owner:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.User.UserName</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.Description</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.Category</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Items Quantity:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">@Model.Items.Count</p>
                </div>
            </div>
            @*<div class="form-group row">
                <label class="col-sm-3 col-form-label">Total Likes:</label>
                <div class="col-sm-9">
                    <p class="form-control-plaintext">Total Likes</p>
                </div>
            </div> *@
        </div>
    </div>
    @if (Model.UserId == userManager.GetUserId(User) || User.IsInRole(Roles.Admin.ToString()))
    {
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h2>Items</h2>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <a asp-controller="Item" asp-action="AddItem" asp-route-collectionID="@Model.Id" asp-route-userId="@Model.UserId" type="button" class="btn btn-success">
                        <i class="fas fa-plus"></i> Add Item
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Tags</th>
                                @foreach (var customField in Model.CustomFields)
                                {
                                    <th scope="col">@customField.Name</th>
                                }
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td><a asp-controller="Item" asp-action="Index">@item.Name</a></td>
                                    <td>@item.Tags</td>
                                    @foreach (var customFieldValues in item.CustomFieldValues)
                                    {
                                        <td>@customFieldValues.Value</td>
                                    }
                                    <td>
                                        <a asp-controller="Item" asp-action="#" class="btn btn-primary btn-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <a asp-controller="Item" asp-action="#" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i> Remove
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>